@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Do Hyeon', sans-serif; */

*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

/* Button Day and Night */

.power{
  display: flex;
  align-items: center;
  /* border: 2px solid rgb(255, 230, 0); */
}

.homeDay{
  background-color: #ff451c;
  color: black;
}

.homeNight{
  background-color: #210011;
  color: white;
}

.homeDayBody{
  background-color: white;
  color: black;
}

.homeNightBody{
  background-color: #210011;
  color: white;
}

svg {
  cursor: pointer;
}

.loader{
  width: 35px;
  /* border: 2px solid black; */
}


/* Header */

.bigBox{
  display: flex;
  justify-content: space-between;
}

.box{
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.664); */
  justify-content: center;
  /* border: 1px solid black; */
  margin-left: 12%;
}

.liens{
  display: flex;
}
.liens ul{
  display: flex;
  list-style: none;
  font-size: 25px;
  padding: 0%;
}
/* .liens ul li{
  margin-left: 142px;
} */
.liens ul li a{
  text-decoration:none;
  font-weight: bold;
  padding: 0 3.4em;
}

.navbar_burger{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}


@media (max-width:1500px){
  .liens ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* left: 0; */
    right: -100vw;
    bottom: 0;
    height: 609px;
    padding: 2rem;
    visibility: hidden;
    background-color: black;
  }
  .show-nav .liens ul{
    left: 0;
    right: 0;
    visibility: visible;
  }
  .liens ul li a{
    display: block;
    padding-bottom: 2rem;
  }
  .navbar_burger{
    display: block;
  }
  .navbar_burger:hover{
    cursor: pointer;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
    display: block;
    width: 40px;
    height: 4px;
    position: relative;
    border-radius: 3px;
    background: white;
  }
  .burger-bar::before,
  .burger-bar::after{
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before{
    transform: translateY(-12px);
  }
  .burger-bar::after{
    transform: translateY(12px);
  }
}

/*menu burger = bouton */
/* .burger span{
  width:50px;
  height:8px;
  background: #000;
  display: block;
  margin:4px 0;
} */

/* @media (max-width:700px){
  .liens ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: black;
  }
  .leins ul li a {
    text-decoration:none;
  }
} */

/* @media (min-width:1400px){
  .burger{
      display: none;
  }
  .liens{
    display: flex;
  }
  .liens ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    padding: 0%;
  }
  .liens ul li + li{
    margin-left: 200px;
  }
  .liens ul li a{
    text-decoration:none;
    font-weight: bold;
  }
} */

/* Home */

.home{
  display: flex;
  background-image: url(./images/aman.jpg);
  background-size: cover;
  height: 669px;
  justify-content: center;
  align-items: center;
  color: white;
  background-position: center;
}

.home h1{
  font-family: 'Do Hyeon', sans-serif;
}

/* Me */

.me{
  height: 669px;
  /* border: 2px solid blue; */
}

.meMasterBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  /* border: 2px solid red; */
}

.meBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.meBox1 hr{
  width: 25px;
}

.meBox2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.meBox3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25px;
}

.meBox3 hr{
  width: 25px;
}

.meMasterBox2{
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

@media (max-width:1000px){
  .meMasterBox2{
    flex-direction: column;
    align-items: center;
  }
}

.meMasterBox2 h3{
  margin: 0;
  margin-bottom: 2%;
}

.meMasterBox2 hr{
  width: 10%;
  margin-bottom: 7%;
  margin-bottom: 0;

}

.meMasterBox2 img{
  width: 4%;
}

.bar{
  width: 400px; /* Full width */
  background-color: #ddd; /* Grey background */
  box-shadow: 4px 4px 2px grey;
}

.skills{
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: black; /* text color */
}

.meBox4{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-left: 10%;
  padding-right: 10%; */
  border: 2px solid yellow;
}

.html{
  width: 90%; background-color: #e44d26; /* Green */
}
.css{
  width: 80%; background-color: #2965f1; /* Blue */
}
.js{
  width: 70%; background-color: #f44336; /* Red */
}
.react{
  width: 65%; background-color: #f5e726; /* yellox */
}

.meBox5{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-left: 10%;
  padding-right: 10%; */
  border: 2px solid green;
}

.vmware{
  width: 80%; background-color: #04AA6D; /* Green */
}
.srv{
  width: 70%; background-color: #2196F3; /* Blue */
}
.bdd{
  width: 70%; background-color: #f44336; /* Red */
}
.supervision{
  width: 65%; background-color: #f5e726; /* yellox */
}

/* Projects */

.projects{
  height: 669px;
}

.projectsMasterBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

.projectsBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

.projectsBox1 hr{
  width: 10%;
}

.projectsMasterBox2{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.projectsBox2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.projectsBox3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

img{
  max-width: 100%;
  height: auto;
}


/* Contact */

.contact{
  height: 669px;
}

.contactsMasterBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

.contactBox1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}
.contactBox1 hr{
  width: 10%;
}

.contactBox2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

[type="text"], [type="email"] , textarea{
  display: block;
  width:100%;
  padding: 8px;
  border:2px solid rgb(202, 202, 202); 
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 10px;
}

button{
  margin-top: 10px;
}
